/* reset */
*, *>* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
/* header */

.header {
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.header__content {
}
.header__top {
    padding: 8px 0;
}
.header__top .container{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.link-auto {
    font-family: "Pixelify Sans", sans-serif;
    text-decoration: none;
    color: aliceblue;
}
.header__bottom {
    background-image: url(../img/header-bg.png);
}
.header__bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link {
}
.logo-link__wrapper-img {
    max-width: 400px;
}
.logo-link__img { 
    width: 100%;
}
.menu {
}
.menu__list {
    list-style: none;
    display: flex;

}
.menu__item {
}
.link-other-page {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    font-weight: 650;
}
.link-other-page__wraper-img{
    min-width: 100px;
}
.link-other-page__img {
    width: 100%;
}
.link-other-page__text {
    font-family: "Pixelify Sans", sans-serif;
}
/* main */
.main {
}
.container {
}
.hero {
    color: white;
    background-image: url(../img/bg-hero.jpg);
    background-size: cover;
    height: 70vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.main-title {
    font-size: 64px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 709;
}
.hero__discription {
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* adaptive */
@media(max-width:1024px) {
    .header__bottom .container{
        flex-direction: column;
    }
/* ДЗ тут */
    .link-other-page {
        font-size: 18px;
    }
    .link-other-page__wraper-img{
        min-width: 65px;
    }
}
